:root {
  --primary-color: #ff5733; /* Vibrant Orange - Evokes hunger and energy */
  --secondary-color: #ffffff; /* Provides contrast and clarity */
  --accent-color: #2ecc71; /*For call to actions and success*/
  --neutral-color: #333333; /* Dark Gray - For headings and text elements */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--neutral-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--accent-color), 10%);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
